.navbar {
  background-color: #ffc107;
  height: 15vh;
}

h1 {
  padding: 1rem;
  margin: 0 auto;
}

a {
  padding: 1rem;
  margin: 1rem auto;
  text-decoration: none;
  font-size: 2rem;
  color: black;
}

a:hover {
  color: teal;
}
