#weather {
  border-radius: 55px;
  background-color: rgba(0, 128, 128, 0.5);
  margin: 2.5vh auto;
  height: 80vh;
  width: 70%;
  outline: 5px solid #ffc107;
  color: white;
}

@media (max-width: 985px) {
  #weather {
    width: 100%;
    height: auto;
    word-wrap: break-word;
  }
  input {
    font-size: 1.7rem;
    width: 15rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
}
