@import "navbar";
@import "crypto";
@import "calculator";
@import "math";
@import "exchange";
@import "stopwatch";
@import "todo";
@import "notes";

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-size: 1.6rem;
  text-align: center;
  font-family: 'Fira Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;
}
